body {
    background: url("green_tiles.jpg");
    text-align: center;
}

.text {
    font: 100% "Garamond", serif;
    border: 2px solid #fff;
    border-radius: 25px;
    background-color: #ddd;
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 2em;
}

h2

h3

p

p.note

#name

#bio

#editor