/**
 *  style1.css
 *
 *    CSS for index.html
 *
 *  Cindy Liu
 *  CSCI E-15 fall 2013
 *  Project 1
 */

/* sets fixed tiled background image and centers text */
body {
    background: url("green_tiles.jpg");
    background-attachment: fixed;
    text-align: center;
}

/* makes rounded box around body of text, sets font etc. */
.text {
    font: 100%/125% "Georgia", serif;
    color: #333;
    border: .3em solid #888;
    border-radius: 2.5em;
    background-color: #ddd;
    width: 40%;
    max-width: 50em;
    padding: 0 4em 2em 4em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 5em;
}

/* heading settings */
h1 {
    font: 300% "Gill Sans" sans-serif;
    font-weight: 900;
    padding-bottom: .25em;
    margin: 0;
}

h3 {
    color: #243;
    margin-top: 1em;
}

img {
    position: relative;
    border: .2em solid #888;
    border-radius: 1em;
    margin: 2em auto 1em auto;
    max-width: 40%;
}


/* section-specific formatting */
#name {
    color: #243;
    background: url("grey_scrolls.jpg");
    background-color: #bdc;
    width: 90%;
    border: .2em solid #888;    
    border-radius: 1.5em;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

.pic {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.alttext {
    position: absolute;
    top: .33em; left: 40%; right: 40%;
    background: #888;
    border-radius: .5em .5em 0 0;
    padding: .25em 0 .25em 0;
    font: 100% "Gill Sans" sans-serif;
    color: #243;
    visibility: hidden;
    opacity: 0;
}

.pic:hover .alttext {
    visibility: visible;
    opacity: 1;
}

#bio {
    padding: 1em 1em 0 1em;
}

#editor:before, #editor:after {
    content: "---";
    font-weight: bold;
    color: navy;
}
